* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.row {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.row img {
   height: 80px;
}

#add {
   margin: 0px 20px;
}

.container {
   display: flex;
   justify-content: center;
   margin: 40px 0px;
}

.elenco {
   display: flex;
   flex-direction: column;
   align-items: space-between;
   background-color: lightgrey;
   padding: 30px;
   border-radius: 20px;
   width: 40%;
}

li {
   font-size: 20px;
   cursor: pointer;
   padding: 15px;
   border-radius: 10px;
   margin: 10px;
}
i {
   float: right;
   cursor: pointer;
   font-size: 25px;
}

.newToDo,
.add {
   padding: 10px 20px;
   border-radius: 20px;
   border-color: none;
   border: 2px solid #00e165;
   color: #001533;
}

.newToDo:focus-visible {
   outline: none;
}

.flex {
   display: flex;
   justify-content: space-between;
}

#notToDo {
   text-align: center;
}

.bg-green {
   background-color: #00e165;
}

.bg-red {
   background-color: lightcoral;
}
